/* se importa estilo/tipo de fuente desde googleapis */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* reinicio de márgenes y espacios */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif; /* se establece el tipo de fuente importado */
}

html {
    scroll-behavior: smooth; /* Establece un desplazamiento suave para el documento HTML, lo que significa que los desplazamientos se animarán en lugar de ser instantáneos. */
}

a,
.btn {
    transition: all 300ms ease; /* Establece una transición para todos los cambios de propiedades CSS en los elementos anclados `<a>` y los botones `.btn`. La transición tendrá una duración de 300 milisegundos y una función de temporización de aceleración suave. Esto significa que cualquier cambio en propiedades CSS (como color, tamaño, posición, etc.) se animará durante 300ms con un efecto de aceleración suave. */
}

nav,
.links-navegacion {
    display: flex; /* establecer el contenido en horizontal */
}

nav {
    align-items: center; /* centrar verticalmente dentro de contenedor flexbox */
    height: 17vh; /* sección nav usará el 17% de la altura de ventana gráfica */
    justify-content: space-around; /* distribuir contenido en espacio disponible */ 
}

.links-navegacion {
    font-size: 1.5rem; /* tamaño fuente links navegación 16px * 1.5 = 24px */
    gap: 2rem; /* espacio entre links , 1rem = 16px */
    list-style: none; /* quitar circulos alrededor de cada link */
}

a {
    color: black; /* color texto de etiqueta hipervínculo <a> */
    text-decoration: none; /* remover subrayado de texto */
}

/* pseudoclase hover se utiliza cuando se pasa el cursor sobre elementos */
a:hover {
    color: gray; /* establecer color */
    text-decoration: underline; /* establecer subrayado */
    text-underline-offset: 1rem; /* distancia de subrayado y texto */
    text-decoration-color: rgb(255, 0, 0); /* color del subrayado de los enlaces. */
}

.logo {
    font-size: 2rem; /* Define el tamaño de la fuente del elemento con la clase "logo". */
}

.logo:hover {
    cursor: default; /* Define el cursor predeterminado cuando se pasa el cursor sobre el elemento con la clase "logo". */
}

#navegacion-hamburguesa {
    display: none; /* Oculta el elemento con el id "navegacion-hamburguesa". */
}

.menu-hamburguesa {
    display: inline-block; /* Hace que el menú de hamburguesas se muestre en línea. */
    position: relative; /* Establece la posición del menú de hamburguesas como relativa. */
}

.icono-hamburguesa {
    cursor: pointer; /* Define el cursor como un puntero al pasar el ratón sobre el icono de hamburguesa. */
    display: flex; /* Establece el contenedor de icono de hamburguesa como un contenedor flex. */
    flex-direction: column; /* Establece la dirección de los elementos del icono de hamburguesa como columna. */
    justify-content: space-between; /* Distribuye el espacio entre los elementos del icono de hamburguesa. */
    height: 24px; /* Define la altura del icono de hamburguesa. */
    width: 30px; /* Define el ancho del icono de hamburguesa. */
}

.icono-hamburguesa span {
    background-color: black; /* Define el color de fondo de las líneas del icono de hamburguesa. */
    height: 2px; /* Define la altura de las líneas del icono de hamburguesa. */
    transition: all 0.3 ease-in-out; /* Define la transición de todas las propiedades durante 0.3 segundos con un efecto de entrada y salida. */
    width: 100%; /* Define el ancho de las líneas del icono de hamburguesa como el 100% del contenedor. */
}

.menu-links {
    background-color: white; /* Define el color de fondo del menú desplegable. */
    max-height: 0; /* Define la altura máxima del menú desplegable como 0 (inicialmente oculto). */
    overflow: hidden; /* Oculta cualquier contenido que desborde del menú desplegable. */
    position: absolute; /* Establece la posición del menú desplegable como absoluta. */
    right: 0; /* Alinea el menú desplegable a la derecha. */
    top: 100%; /* Coloca el menú desplegable justo debajo del elemento que lo activa. */
    transition: all 0.3 ease-in-out; /* Define la transición de todas las propiedades durante 0.3 segundos con un efecto de entrada y salida. */
    width: fit-content; /* Define el ancho máximo del menú desplegable para que se ajuste al contenido. */
}

.menu-links a {
    color: black; /* Color del texto */
    display: block; /* Hace que los enlaces se muestren como bloques */
    font-size: 1.5rem; /* Tamaño de fuente */
    padding: 10px; /* Espacio alrededor del texto */
    text-align: center; /* Alineación del texto al centro */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    transition: all 0.3s ease-in-out; /* Define una transición suave para todas las propiedades durante 0.3 segundos con un efecto de entrada y salida */
}

.menu-links li {
    list-style: none; /* Quita los marcadores de la lista */
}

.menu-links.open {
    max-height: 300px; /* Altura máxima del menú abierto */
}

/* Estilos para el ícono de hamburguesa cuando el menú está abierto */
.icono-hamburguesa.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px); /* Rotación y translación para crear un efecto de X */
}

.icono-hamburguesa.open span:nth-child(2) {
    opacity: 0; /* Oculta el segundo trazo del ícono */
}

.icono-hamburguesa.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px); /* Rotación y translación para crear un efecto de X */
}

/* Estilos predeterminados para el ícono de hamburguesa */
.icono-hamburguesa span:first-child {
    transform: none; /* Restaura la transformación predeterminada */
}

.icono-hamburguesa span:first-child {
    opacity: 1; /* Restaura la opacidad predeterminada */
}

.icono-hamburguesa span:first-child {
    transform: none; /* Restaura la transformación predeterminada */
}

/* Estilos para todas las secciones */
section {
    box-sizing: border-box; /* La caja incluye el borde y el relleno en el cálculo del tamaño */
    height: 96vh; /* Altura del 96% del viewport */
    margin: 0 10rem; /* Márgenes izquierdo y derecho de 10 rem */
    min-height: fit-content; /* Altura mínima para ajustarse al contenido */
    padding-top: 4vh; /* Relleno en la parte superior del 4% del viewport */
}

/* Estilos para el contenedor de la sección */
.seccion__contenedor {
    display: flex; /* Establece el contenedor como flexbox */
}

/* Estilos para la sección 'sobre-mi' */
#sobre-mi {
    display: flex; /* Establece el contenedor como flexbox */
    gap: 5rem; /* Espacio entre los elementos secundarios de 5 rem */
    height: 80vh; /* Altura del 80% del viewport */
    justify-content: center; /* Centra los elementos secundarios horizontalmente */
}

/* Estilos para el contenedor de la foto en la sección */
.seccion__contenedor-foto {
    display: flex; /* Establece el contenedor como flexbox */
    height: 400px; /* Altura de 400 píxeles */
    margin: 0 auto; /* Margen automático a los lados */
    width: 400px; /* Ancho de 400 píxeles */
}

/* Estilos para el texto en la sección */
.seccion__texto {
    align-self: center; /* Alinea el texto verticalmente al centro */
    text-align: center; /* Alinea el texto al centro */
}

/* Estilos para el párrafo en el texto de la sección */
.seccion__texto p {
    font-weight: 600; /* Peso de la fuente en negrita */
}

/* Estilos para el primer párrafo en el texto de la sección */
.seccion__texto__parte1 {
    text-align: center; /* Alinea el texto al centro */
}

.seccion__texto__parte2 {
    font-size: 1.75rem; /* Tamaño de fuente de 1.75 rem */
    margin-bottom: 1rem; /* Margen inferior de 1 rem */
}


/* Estilos para el título en la sección */
.titulo {
    font-size: 3rem; /* Tamaño de fuente de 3 rem */
    text-align: center; /* Alinea el texto al centro */
}

/* Estilos para el contenedor de redes sociales */
#contenedor-redes-sociales {
    display: flex; /* Establece el contenedor como flexbox */
    gap: 1rem; /* Espacio entre los elementos secundarios de 1 rem */
    justify-content: center; /* Centra los elementos secundarios horizontalmente */
    margin-top: 1rem; /* Margen superior de 1 rem */
}

/* Estilos para los íconos */
.icono {
    height: 2rem; /* Altura de 2 rem */
    cursor: pointer; /* Cursor en forma de mano al pasar sobre los íconos */
}

/* Botones */
.boton-contenedor {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.boton {
    border-radius: 2rem;
    font-weight: 600;
    padding: 1rem;
    transition: all 300ms ease;
    width: 8rem;
}

.boton-color-1,
.boton-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.boton-color-1:hover,
.boton-color-2:hover {
    cursor: pointer;
}

.boton-color-1,
.boton-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.boton-color-1:hover {
    background: rgb(0, 0, 0);
}

.boton-color-2 {
    background: none;
}

.boton-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}
